{{#if showScrollIcon}}
  <div class="ember-scroll-to-bottom">
    <span class="scroll-to-bottom-icon">
      <i class="fa fa-angle-double-down" aria-hidden="true">{{fa-icon 'angle-double-down'}}</i>
    </span>
  </div>
{{/if}}
